ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Automatic
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

IPHONEOS_DEPLOYMENT_TARGET = 12.0
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1
PRODUCT_NAME = $(TARGET_NAME)
BUNDLE_VERSION = 3
_PRODUCT_BUNDLE_IDENTIFIER = pl.blazej.BabylonDemo
